a:hover {
  color: $text-color-blue-light;
}

.header-nav {
  a:hover {
    border-bottom: 1px solid $text-color-blue-light;
  }
}

.banner-content {
  a:hover {
    color: $text-color-white;
  }
}

.slider-buttons {
  .button:hover {
    opacity: .3;
  }
}