.banner-btn-block {
  display: flex;
  position: absolute;
  align-items: center;
  height: 100%;

  div {
    display: flex;
    position: absolute;
    flex-direction: column;
    height: 255px;
    justify-content: space-between;
    z-index: 400;

    label {

      input {
        display: none;
      }

      input:checked ~ div {
        background: $btn-white;
      }

      div {
        width: 30px;
        height: 30px;
        background: none;
        cursor: pointer;
        border: 3px solid $btn-white;
        border-radius: 50%;
        z-index: 100;
        transition: all .7s;
      }
    }
  }
}

.banner-content {
  position: relative;
  top: 0;
  height: auto;

  div {
    width: 100vw;
    transition: all .5s;
    z-index: 150;

    &.banner-view-content {
      z-index: 160;
    }
  }

  div:nth-child(1) {
    display: block;
  }

  .banner-text {
    display: block;
    height: 100%;
    position: absolute;
    z-index: 510;
  }

  h1 {
    display: flex;
    position: absolute;
    top: 175px;
    height: inherit;
    color: $text-color-white;
    align-self: center;
    text-align: justify;
  }

  a {
    position: absolute;
    width: 196px;
    top: 390px;
    line-height: 40px;
    text-transform: uppercase;
    text-align: center;
    color: $text-color-white;
    font-size: 0.86rem;
    background-color: $btn-green;
    letter-spacing: 1px;
  }
}

.el {
  opacity: 0;
  z-index: 150;
}

.el-one {
  opacity: 1;
  z-index: 181;
}

.banner-el {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
}

.banner-el-1 {
  background: url("../img/banner/img-1.jpg");
  background-size: cover;
}

.banner-el-2 {
  background: url("../img/banner/img-2.jpg");
  background-size: cover;
}

.banner-el-3 {
  background: url("../img/banner/img-1.jpg");
  background-size: cover;
}

.banner-el-4 {
  background: url("../img/banner/img-2.jpg");
  background-size: cover;
}

.banner-el-5 {
  background: url("../img/banner/img-1.jpg");
  background-size: cover;
}

.banner-el-6 {
  background: url("../img/banner/img-2.jpg");
  background-size: cover;
}

.eclipse-banner {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 600px;
  background: $img-eclipse;
  z-index: 201;
}
///===========================================================