.head-page {
  position: fixed;
  height: 120px;
  top: 0;
  left: 0;
  right: 0;
  transition: all .8s;
  z-index: 999;

  &.scrolled {
    background: $bg-body;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
  }
}

.header-numbers {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 17px;
  font-weight: 700;
  color: $text-color-blue;
  text-align: center;
  letter-spacing: 1px;

  p:nth-child(1) {

    span {
      display: inline-block;
      margin-right: 12px;
      width: 24px;
      line-height: 24px;
      background-color: #a2a6ca;
      border-radius: 50%;
      color: $text-color-white;
      text-align: center;

      i {
        transform: rotate(90deg);
      }
    }
  }
}

.header-nav {
  padding-top: 44px;
  padding-bottom: 19px;
  text-align: center;

  ul {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 0.86rem;
    letter-spacing: 2px;
  }

  a {
    border-bottom: 1px solid rgba(0, 0, 0, 0);
  }
}

//==================== FOR MAIN PAGE ================

.header-numbers-main {

  &.scrolled {
    color: $text-color-white;

    p:nth-child(1) {

      span {
        color: #a2a6ca;
        background-color: $text-color-white;
      }
    }
  }
}

.header-nav-main {

  &.scrolled {
    a {
      color: $text-color-white;
    }

    a:hover {
      color: $text-color-blue-light;
    }
  }
}

//===================================================

//==================== FOR PAGES ================

.head-page-bg {
  background: $bg-body;
}

.header-numbers-pages {

  &.scrolled {
    color: $text-color-blue;

    p:nth-child(1) {

      span {
        color: $text-color-white;
        background-color: #a2a6ca;
      }
    }
  }
}

.header-nav-pages {

  &.scrolled {
    a {
      color: $text-color-blue;
    }

    a:hover {
      color: $text-color-blue-light;
    }
  }
}

//===================================================