.services-row {
  position: relative;
  display: flex;
  width: 100%;
  padding-top: 35px;
  justify-content: space-between;
}

.services-row-el {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 200px;
  text-align: center;

  div {
    max-width: 150px;
    max-height: 150px;

    img {
      width: 100%;
      height: 100%;
    }
  }
}