.slider {
  display: flex;
  padding-bottom: 70px;
  justify-content: space-between;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;

  .col-10 {
    padding: 0 0;
  }
}

.slider-pictures {
  display: flex;
  width: 100%;
  overflow: hidden;

  ul {
    display: flex;
    width: 8500px;
    justify-content: space-between;
    height: 100%;
    position: relative;
    list-style: none;
  }

  li {
    flex-basis: 1000px;
    width: 1000px;

    .slider-block {
      display: flex;
      max-width: 750px;
      justify-content: space-between;
      align-items: center;

      div {
        max-width: 325px;
        max-height: 325px;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    i {
      color: #a2a6ca;
    }
  }
}

.slider-buttons {
  .button {
    display: inline-block;
    text-decoration: none;
    background: none;
    border: none;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    transition: all .5s;
  }
}