.faq-questions-block {
  position: relative;
  width: 100%;
  padding: 73px 0 61px;
  z-index: 5;

  div {
    width: 100%;
    padding-bottom: 12px;
  }

  label {
    color: $text-color-white;
    p {
      width: 100%;
      padding: 0;
      margin: 0;
      line-height: 51px;
      text-transform: uppercase;
      background-color: rgba(26, 35, 126, .75);
      transition: all 1s;

      span {
        font-size: 1.5rem;
        padding: 0 32px 0 10px;

        i {
          transform: rotate(-90deg);
          transition: all 1s;
        }
      }
    }

    p:nth-child(3) {
      position: relative;
      display: flex;
      background: none;
      line-height: 21px;
      align-items: center;
      text-transform: none;
      padding: 0 55px;
      height: 0;
      border: 1px solid rgba(26, 35, 126, .75);
      border-top: none;
      color: $text-color-blue-dark;
      opacity: 0;
      transition: all 1s;
    }
  }

  input {
    display: none;
  }

  input:checked + p:nth-child(2) {
    span {
      i {
        transform: rotate(0);
      }
    }
  }

  input:checked ~ p:nth-child(3) {
    padding: 32px 55px;
    opacity: 1;
    height: 72px;
  }
}