.about-company {
  position: relative;
  padding-bottom: 54px;
  color: $text-color-blue-dark;
}

.about-company-img {
  display: flex;
  padding: 36px 0;
  flex-direction: column;
  align-items: center;

  div {
    width: 420px;
    height: 305px;
    text-align: center;
  }
  img {
    width: 100%;
    height: auto;
  }
}

.text-foto {
  color: $text-color-blue-dark;
  opacity: .75;
  text-align: center;
}