.how-work {
  background-color: $bg-body-light-blue;
  color: $text-color-blue-dark;
  min-height: 800px;

  h2 {
    padding-bottom: 0;
  }

  .services-row:nth-child(3) {
    padding-bottom: 70px;
  }
}