.our-principles {
  min-height: 600px;

  p:nth-child(1) {
    padding-top: 70px;
  }

  h2 {
    padding-top: 36px;
    padding-bottom: 0;
  }

  .services-row {
    padding-bottom: 70px;

    .services-row-el {
      div {
        max-width: 100px;
        max-height: 100px;
      }
    }
  }
}