.color-white {
  color: $text-color-white;
}

.parallax{
  background-attachment: fixed !important;
  background-position: center !important;
  background-repeat: no-repeat;
  background-size: cover;
}

.padding-text {
  padding: 0 32px;
  text-align: justify;
}

.content-center {
  width: 100%;
  text-align: center;
}

.form-pages {
  display: flex;
  min-height: 514px;
  justify-content: center;
  align-items: center;
}

.margin-bottom-form {
  margin-bottom: 72px;
}