html {
  font-size: 14px;
  font-family: $openSans-fallback;
}

a {
  text-decoration: none;
  transition: all .5s;
  color: $text-color-blue;
  font-weight: 700;
}

h1 {
  font-family: $merriweather-fallback;
  font-size: 2.57rem;
  line-height: 3.86rem;
  font-weight: 700;
}

h2 {
  padding-top: 72px;
  padding-bottom: 42px;
  font-size: 1.71rem;
  font-family: $merriweather-fallback;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h3 {
  padding: 72px 0 36px;
  font-size: 1.28rem;
  font-family: $merriweather-fallback;
  font-weight: 700;
  text-transform: uppercase;
}

h4 {
  padding-top: 24px;
  padding-bottom: 14px;
  font-size: 1.14rem;
  font-weight: 600;
}

p {
  line-height: 21px;
  text-align: justify;
}

body {
  background-color: $bg-body;
}