//colors
$text-color-blue: #1A237E;
$text-color-blue-light: #b9bedd;
$text-color-blue-dark: #040721;
$text-color-white: #fdfdfc;
$btn-color-blue: #15a4fa;
$bg: #f6f9f9;
$bg-body: #fdfdfc;
$bg-body-light-blue: rgba(26, 35, 126, 0.05);
$btn-white: #fdfdfc;
$btn-green: #5DB12F;
$bg-input-form: #ECEEF5;
$img-eclipse: rgba(48, 63, 159, .4);

//fonts
$lato-fallback: 'lato', Arial, Helvetica, sans-serif;
$helvetica-fallback: 'Helvetica', Arial, sans-serif;
$helveticaOblique-fallback: 'Helvetica-Oblique', Arial, Helvetica, sans-serif;
$merriweather-fallback: 'Merriweather', serif;
$openSans-fallback: 'OpenSans', Arial, sans-serif;
$openSansSemibold-fallback: 'OpenSans-Semibold', Helvetica, sans-serif;
$raleway-fallback: 'Raleway', Helvetica, sans-serif;

//responsive
$xs-bottom: 575px;
$xs-top: $xs-bottom+1px;

$sm-bottom: 767px;
$sm-top: $sm-bottom+1px;

$md-bottom: 991px;
$md-top: $md-bottom+1px;

$lg-bottom: 1199px;
$lg-top: $lg-bottom+1px;

$xl-bottom: 1499px;
$xl-top: $xl-bottom+1px;