.main-contact {
  position: relative;
  min-height: 500px;
}

.main-contact-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../img/main-contact-bg.jpg") no-repeat;
  background-size: cover;
  z-index: 1;
}

.main-contact-content {
  color: $text-color-white;
  position: relative;
  z-index: 3;

  p {
    padding-bottom: 50px;
  }
}

.form-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 420px;
  max-height: 370px;
  text-align: center;
  color: rgba(0, 0, 0, 0.75);
  background-color: white;

  h4 {
    width: 50%;
    padding: 16px 0;
    line-height: 27px;
  }

  p {
    width: 85.7%;
    padding: 0 0 22px;
    margin: 0;
  }

  div {
    display: flex;
    flex-direction: column;
    width: 62.84%;
  }

  input {
    width: 100%;
    padding-left: 12px;
    border: none;
    color: rgba(0, 0, 0, 0.75);
    background-color: $bg-input-form;
    outline: none;
    line-height: 27px;
  }

  input:nth-child(2) {
    margin: 15px 0;
  }

  input[type="submit"] {
    width: 74.1%;
    height: 40px;
    padding-left: 0;
    margin: 15px 0 24px;
    cursor: pointer;
    color: #e7f3e0;
    text-align: center;
    background-color: $btn-green;
    text-transform: uppercase;
  }

}