.footer-page {
  color: $text-color-blue-dark;

  h3 {
    padding: 36px 0 27px;
    text-align: center;
    text-transform: uppercase;
    font-family: $merriweather-fallback;
    font-weight: 400;
  }
}

.footer-contact {
  padding-bottom: 100px;

  p {
    span {
      display: inline-block;
      margin-right: 12px;
      width: 24px;
      line-height: 24px;
      background-color: #a2a6ca;
      border-radius: 50%;
      color: $text-color-white;
      text-align: center;
    }
  }

  p:nth-child(1) {
    i {
      transform: rotate(90deg);
    }
  }
}

.copyright {
  padding-bottom: 24px;
}