.main-services {
  position: relative;
  min-height: 670px;
  color: $text-color-white;

  p {
    padding-bottom: 48px;
  }
}

.main-services-content {
  position: relative;
  z-index: 3;
}

.main-services-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../img/main-services-bg.jpg") no-repeat;
  background-size: cover;
  z-index: 1;
}

.main-services-block-img {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: space-between;

  div {
    max-width: 200px;
    text-align: center;

    div {
      height: 200px;
      width: 200px;
    }
  }
}