.page-title {
  position: relative;
  height: 164px;
  width: 100%;
  margin-top: 120px;
  color: $text-color-white;

  h1 {
    display: inline-block;
    position: absolute;
    z-index: 3;
    line-height: 164px;
  }
}

.page-title-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../img/page-title-bg.jpg") no-repeat;
  background-size: cover;
  z-index: 1;
}